function c = workspace_config()

% name of the tracker
c.tracker_name = '{{name}}';
% additional paths: where source code is located
c.additional_paths = {'../implementations', '../utils'};
% path to the sequences directory
c.dataset_path = '../resources/vot/vot2014';

end  % endfunction
